{#
/**
 * @file captcha-captchetat-noscript.tpl.php
 * Default theme implementation to present the CaptchEtat noscript code.
 *
 * @see template_preprocess()
 * @see template_preprocess_captcha_captchetat_noscript()
 *
 * @ingroup themeable
 */
#}

<noscript>
    <p>{{ 'The CaptchEtat captcha solution requires Javascript to be enabled, otherwise you will be unable to submit the form.'|t }}</p>
</noscript>
